{% extends "frame.html" %}

{% block style %}
	<style type="text/css">
		.progress{
			margin: auto;
		}
		.progress-bar{
			width: 100%;
		}
	</style>
{% endblock %}

{% block panel_title %}
{% raw %}
	{{project_name?project_name:"project not found"}}
{% endraw %}
{% endblock %}

{% block panel_body %}
{% raw %}
	<div class="container">
		<table class="table table-hover">
			<thead>
				<tr>
					<th class="text-center">tools</th>
					<th class="text-center">target</th>
					<th class="text-center">level</th>
					<th class="text-center">help</th>
					<th class="text-center">action</th>
				</tr>
			</thead>
			<tbody>
				<tr class="text-center" is="tool-list" v-bind:tool="tool" v-for="tool in tools"></tr>
			</tbody>
		</table>
	</div>
	<hr>
	<div class="container">
		<table class="table table-hover">
		<!-- <table class="table table-hover table-fixed"> -->
			<thead>
				<tr>
					<th class="text-center">#</th>
					<th class="text-center">tasks</th>
					<th class="text-center">target</th>
					<th class="text-center">date</th>
					<th class="text-center">status</th>
					<th class="text-center">result</th>
				</tr>
			</thead>
			<tbody v-if="loading">
			</tbody v-else>
				<tr class="text-center" is="task-list" v-bind:task="task" v-bind:index="index" v-for="(task,index) in tasks" v-on:show_detail="task_detail(task.task_id)"></tr>
			<tbody>

			</tbody>
		</table>
	</div>
{% endraw %}
{% endblock %}

<!-- modal block -->
{% block modal %}
{% raw %}
	<div class="modal fade" id="detail" v-if="detail.task_id">
	  <div class="modal-dialog modal-lg">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">关闭</span></button>
	        <h4 class="modal-title">{{detail.task_id}}</h4>
	      </div>
	      <div class="modal-body">
	      <div class="lead" v-if="!detail.task_result.length">
	      	Hosts not up, or ports not found!
	      </div>
	      <template v-for="(result,index) in detail.task_result">
	        <div class="panel-group">
	          <div class="panel panel-primary">
	            <div class="panel-heading" >
	              <h4 class="panel-title">
	                <a data-toggle="collapse" :data-parent="'#host'+index" :href="'#host'+index">{{result.host}}</a>
	              </h4>
	            </div>
	            <div :id="'host'+index" class="panel-collapse collapse in">
	              <div class="panel-body">
	                <table class="table table-hover table-condensed" >
	                  <tbody>
	                  	<template v-for="port in result.portinfo">
	                    <tr>
	                      <td>{{port.portid}}</td>
	                      <td>{{port.state}}</td>
	                      <td>{{port.service}}</td>
	                      <td width="50%">{{port.banner}}</td>
	                    </tr>
	                    </template>
	                  </tbody>
	                </table>
	              </div>
	            </div>
	          </div>
	        </div>
	      </template>

	      </div>

	      <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
	        <button type="button" class="btn btn-primary">保存</button>
	      </div>
	    </div>
	  </div>
	</div>
{% endraw %}
{% endblock %}

<!-- javascript block -->
{% block script %}
{% raw %}
	<script>
	var toolList = {
		template: '\
		<tr>\
			<td>{{tool.name}}</td>\
			<td>\
				<input class="form-control" :placeholder="tool.placeholder" v-model="tool.target" :autofocus="tool.focus">\
			</td>\
			<td>\
				<div class="input-group center-block">\
					<select class="form-control" v-model="tool.level">\
						<option value="0">0</option>\
						<option value="1">1</option>\
						<option value="2">2</option>\
					</select>\
				</div>\
			</td>\
			<td>\
				<a href="#" class="btn"><i class="icon icon-book"></i></a>\
			</td>\
			<td>\
				<a v-on:click="commit" class="btn"><i class="icon icon-play"></i></a>\
			</td>\
		</tr>',
		props: ['tool'],
		methods:{
			commit: function(){
				if(!this.tool.target){
					new $.zui.Messager('Target is required', {type:'warning', icon:'warning-sign', time:2000}).show();
					this.$el.children[1].children[0].focus();
				}else{
					$.ajax({
						type: 'post',
						url: '/api/task/',
						data: {
							category: this.tool.category,
							target: this.tool.target,
							level: this.tool.level,
							project_id: app.project_id
						},
						success: function(data){
							app.tasks.unshift(data);
							flash(); 
						},
						error: function(data){
							console.log(data);
						}
					});
				}
			}
		}
	}
	var taskList = {
		template: '\
			<tr>\
				<td>{{index}}</td>\
				<td>{{task.task_category|category}}</td>\
				<td class="text-wordwrap">{{task.task_target}}</td>\
				<td>{{task.date_created}}</td>\
				<td>\
					<div @click="processing" class="progress progress-striped" v-bind:class="{active: task.task_status!=\'SUCCESS\'}">\
						<div class="progress-bar" v-bind:class="{\'progress-bar-success\': task.task_status==\'SUCCESS\'}">\
							<span>{{task.task_status.toLowerCase()}}</span>\
						</div>\
					</div>\
				</td>\
				<td>\
					<button class="btn btn-sm btn-primary" v-bind:disabled="task.task_status!=\'SUCCESS\'" v-on:click="show_detail"><i class="icon icon-zoom-in" v-bind:disabled="task.task_status!=\'SUCCESS\'"></i> view</button>\
					 <button class="btn btn-sm btn-danger" v-on:click="delete_task"><i class="icon icon-trash"></i></button>\
				</td>\
			</tr>',
		props: ['task','index'],
		filters: {
			category: function(value){
				switch(value){
					case 0: return "port scanner";
					case 1: return "web dir burp";
					case 2: return "sub domain";
				}
			}
		},
		methods: {
			show_detail: function(){
				this.$emit('show_detail');
			},
			delete_task: function(){
				var task_id = this.task.task_id;
				$.ajax({
					url: '/api/task/'+task_id,
					type: 'delete',
					success: function(data){
						console.log(data);
						new $.zui.Messager('Delete completed', {type:'success', icon:'ok-sign', time:2000}).show();
						get_tasks_status();
					},
					error: function(data){
						console.log(data)
					}
				})
			},
			processing: function(){
				if(this.task.task_status != 'PENDING')
					return 1;
				$.ajax({
					url: '/api/task/'+this.task.task_id,
					data: {process: true},
					type: 'get',
					success: function(data){
						var process = new $.zui.ModalTrigger({
							title: 'process',
							custom: '<textarea style="color: #0cf71e; background-color: #303030;SCROLLBAR-FACE-COLOR: #ffffff; " rows="20" class="form-control">'+data.process+'</textarea>',
						});
						process.show();
					}
				})
			}
		}
	};

	var id_index = window.location.pathname.lastIndexOf('/')+1;
	var app = new Vue({
		el: "#main",
		components: {
			'tool-list': toolList,
			'task-list': taskList,
		},
		data: {
			loading: true,
			project_id: window.location.pathname.substr(id_index),
			project_name:"",
			tools: [{category:0,name:"port scanner",placeholder:"ip address or hostname",target:"",level:1},
					{category:1,name:"web dir burp",placeholder:"url",target:"",level:1},
					{category:2,name:"sub domain",placeholder:"hostname",target:"",level:1}
				   ],
			tasks: [],
			task: {task_name:'test'},
			detail: {task_id:'',task_result:[]}
		},
		methods: {
			task_detail: function(task_id){
				this.detail.task_id = task_id;
				$('#detail').on('show.zui.modal', function(){
					console.log('test')
				});
				$('#detail').modal('show');
				$.ajax({
					url: '/api/task/'+task_id,
					success: function(data){
						app.detail.task_result = data.task_result;
						$('#detail').modal();
						$('#detail').on('hidden.zui.modal', function(){
							app.detail = {task_id:'',task_result:[]};
						})
					}
				});
			}
		}
	})
	$.ajax({
		type: 'get',
		url: '/api/project/'+app.project_id,
		success: function(data){
			app.project_name=data.project_name;
		},
		error: function(data){
			console.log(data);
			if(data.status == 404)
				new $.zui.Messager('Project not found', {type:'warning', icon:'warning-sign', time:2000}).show();
			else
				new $.zui.Messager('Server error', {type:'warning', icon:'warning-danger', time:2000}).show();
		}
	});
	//get tasks status
	function get_tasks_status(){
		$.ajax({
			type: 'get',
			url: '/api/task/',
			data: {project_id: app.project_id},
			success: function(data){
				console.log(data);
				app.tasks=data;
			},
			error: function(data){
				console.log(data);
			}
		})
	};
	get_tasks_status();
	function flash(){
		var poll =setInterval(function(){
			var flag = false;
			for(var i=0; i<app.tasks.length; i++){
				if(app.tasks[i]['task_status']!='SUCCESS')
					flag = true;
			};
			if(flag) get_tasks_status();
			else clearInterval(poll);
		},10000);
	}
	flash();
	</script>
{% endraw %}
{% endblock %}