<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>
    {% block title %}CToolkit{% endblock %}
  </title>
  <link rel="shortcut icon" href="/static/img/2.ico" type="image/x-icon" />
	<link href="/static/css/zui.css" rel="stylesheet">
  <link href="/static/css/zui-theme.css" rel="stylesheet">
  {% block style %}
  {% endblock %}
</head>
<body>
<div id="main">
  <header>
    <div class="navbar navbar-inverse" id="navbar" role="banner" style="border-radius: 0px;">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".zui-navbar-collapse">
            <span class="sr-only">切换导航</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">
            <span>
            <i class="icon icon-leaf"></i>
            </span>
            <span class="brand-title">CToolkit</span>
          </a>
        </div>
        <div class="collapse navbar-collapse zui-navbar-collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">Help</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Action<b class="caret"></b></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="#">Save</a></li>
                <li><a href="#">Pause</a></li>
                <li><a href="#">Export</a></li>
                <li class="divider"></li>
                <li><a href="#">Exit</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </header>
  <div class="container">
    <!-- Left Menu -->
    <div class="left-menu" style="float:left; width:150px;">
      <nav class="menu" data-toggle="menu">
        <button class="btn btn-primary" data-toggle="modal" data-target="#create_project"><i class="icon-edit"></i> CREATE</button>
        <button class="btn"><i class="icon-cloud-upload"></i> UPLOAD</button>
        <ul class="nav nav-primary">
          <li><a href={{url_for('home.index')}}><i class="icon-home"></i> Home</a></li>
          <li><a href={{url_for('project.overview')}}><i class="icon-stack"></i> Projects</a></li>
          <li><a href={{url_for('vuln.overview')}}><i class="icon-eye-open"></i> Vulnerability</a></li>
          <li><a href="{{url_for('note.overview')}}"><i class="icon-book"></i> Note</a></li>
          <li><a href="javascript:;"><i class="icon-pie-chart"></i> Report</a></li>
          <!-- <li class="nav-parent">
            <a href="javascript:;"><i class="icon-tasks"></i> Status</a>
            <ul class="nav">
              <li><a href="javascript:;"><i class="icon-circle-blank"></i> Ready</a></li>
              <li><a href="javascript:;"><i class="icon-play-sign"></i> Ongoing</a></li>
              <li><a href="javascript:;"><i class="icon-ok-sign"></i> Completed</a></li>
            </ul>
          </li> -->
        </ul>
      </nav>
    </div>
    <!-- Main Panel -->
    <div class="right-content" style="overflow: hidden; padding-left: 10px">
    <div class="panel panel-primary" id="panel">
      <div class="panel-heading">
        {% block panel_title %}
        {{ "test"|title }}
        {% endblock %}
      </div>
      <div class="panel-body" style="word-break: break-all;min-height:300px">
        {% block panel_body %}
        {% endblock %}
      </div>
    </div>
    </div>
  </div>

  <footer class="container">
    <div>
      <hr>
      <p class="text-muted small">Copyright © 2016 - 2017 &nbsp; Carbon &nbsp; 
      <span><i class="icon icon-github"></i><a href="https://github.com/C12X/CToolkit">Github</a></span>
      </p>
    </div>
  </footer>

  <div class="modal fade" id="create_project">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">关闭</span></button>
          <h4 class="modal-title">Add Project</h4>
        </div>
        <div class="modal-body">
          <div class="input-group">
            <span class="input-group-addon">Project Name</span>
            <input name="project_name" class="form-control" required="required" placeholder="Input a new project name">
          </div>
        </div>
        <div class="modal-footer">
          <button class="btn btn-default" data-dismiss="modal">close</button>
          <button type="submit" class="btn btn-primary" >submit</button>
        </div>
      </div>
    </div>
  </div>
  {% block modal%}
  {% endblock %}
</div>
  <!-- jQuery (ZUI中的Javascript组件依赖于jQuery) -->
  <script src="/static/js/jquery.js"></script>
  <!-- ZUI Javascript组件 -->
  <script src="/static/js/zui.js"></script>
  <!-- vue.js -->
  <script src="/static/js/vue.js"></script>

  <script>
    $(document).ready(function(){
      $('button[type=submit]').click(function(){
        var project_name = $('input[name=project_name]');
        if(!project_name.val()){
          new $.zui.Messager('Project name is required', {type:'warning', icon:'warning-sign', time:2000}).show();
          project_name.focus()
        }else{
          $.ajax({
            type: 'post',
            url: '/api/project/',
            data: {project_name:project_name.val()},
            success: function(data){
              /*data = JSON.parse(data)*/
              console.log(data.id)
              location.href = "/project/"+data.id;
            },
            error: function(data){
              new $.zui.Messager('Something error', {type:'warning', icon:'warning-sign', time:2000}).show();
              console.log(data);
            }
          });
        }
      });
    });
  </script>
  {% block script %}

  {% endblock %}
</body>
</html>