{% extends "frame.html" %}

{% block style %}
	<style type="text/css">
	.option{
	  min-height: 100px;
	  margin-bottom: 20px;
	  border-radius: 8px;
	  background: #ECEFF1;

	  display: -webkit-box;
	  -webkit-box-orient: horizontal;
	  -webkit-box-pack: center;
	  -webkit-box-align: center;
	}
	.option:hover{ 
		background-color:#607D8B;
		color:white;
	}
	#addvulnName{
		margin-top: 10px;
	}
	a{
		cursor: pointer;
	}
</style>
{% endblock %}

{% block panel_title %}
	{{ "Vulnerability"|title}}
{% endblock %}

{% block panel_body %}
{% raw %}
	<div class="row">
	  <vuln-list v-if="vulns.length" v-for="vuln in vulns" v-bind:vuln="vuln"></vuln-list>
	  <div class="col-md-4 col-sm-6 col-lg-3">
	    <a href="#" data-toggle="modal" data-target="#addvuln">
	      <div class="option lead">
	        <i class="icon icon-2x icon-plus"></i>
	      </div>
	    </a>
	  </div>
	</div>
{% endraw %}
{% endblock %}

{% block modal %}
{% raw %}
<div class="modal fade" id="addvuln">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">close</span></button>
        <h4 class="modal-title">Add vulnsitory</h4>
      </div>
      <div class="modal-body">
        <div class="container" id="addvulnName">
	        <div class="form-group">
	          <div class="input-group">
	            <span class="input-group-addon">title</span>
	            <input type="text" class="form-control" placeholder="input the new vulnsitory title" v-model="vuln_title">
	          </div>
	        </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">close</button>
        <button type="button" class="btn btn-primary" @click="add">submit</button>
      </div>
    </div>
  </div>
</div>
{% endraw %}
{% endblock %}

{% block script %}
{% raw %}
<script>
	var vulnList = {
		template: '\
			<div class="col-md-4 col-sm-6 col-lg-3">\
				<a :href="vuln.title" style="text-decoration: none;">\
	    		<div class="option lead">\
	    			{{vuln.title}}\
	    		</div>\
	    		</a>\
			</div>',
		props: ['vuln']
	}
	var app = new Vue({
		el: '#main',
		components: {
			'vuln-list': vulnList
		},
		data: {
			vulns: [],
			vuln_title: '',
		},
		methods: {
			add: function(){
				console.log('add');
				$.ajax({
					url: '/api/vuln/',
					data: {title: app.vuln_title},
					type: 'post',
					success: function(data){
						app.vulns.push(data);
						$('#addvuln').modal('hide')
					},
					error: function(data){
						console.log(data);
					}
				});
			}
		},
		created: function(){
			console.log('created');
			$.ajax({
				url: '/api/vuln/',
				type: 'get',
				success: function(data){
					app.vulns = data;
					console.log(data);
				},
				error: function(data){
					console.log(data);
				}
			})
		}
	})
</script>
{% endraw %}
{% endblock %}